## Week 1 - Assignment

### Import required libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline 

# Import the csv file and seperate at , 
csvFile = "DV01-GroupSurvey.csv"
dataFrame = pd.read_csv(csvFile, sep=',')

In [2]:
dataFrame.head()

,Timestamp,What is your main study profile?,What aspect of Data Visualization is most interesting to you?,How much effort do you intend to invest into this subject?,Your age (in years),Your height (in cm),Your starsign,Your continent,How many cousins do you have?,Do you like spicy food?,Unnamed: 10
0,2017/09/01 12:19:46 PM GMT+2,Software Engineering,(web) programming,10,21,420.69,Leo,Europe,7,No,Option 1
1,2017/09/01 12:22:32 PM GMT+2,Software Engineering,exploring/analysing,8,19,178.00,Cancer,Europe,0,neutral,Option 1
2,2017/09/01 12:23:13 PM GMT+2,Technology,designing and storytelling,7,20,182.00,Scorpio,Europe,12,neutral,Option 1
3,2017/09/01 12:23:20 PM GMT+2,Software Engineering,(web) programming,8,21,197.00,Cancer,Europe,19,neutral,Option 1
4,2017/09/01 12:26:08 PM GMT+2,Mathematics,designing and storytelling,8,23,183.00,Aquarius,Europe,27,Yes,NaN

First thing that I noticed, is the fact that the unnamed column doesn't add something to the set.<br>
I therefore decided to remove it from the dataframe. See the code below:

In [3]:
dataFrame.drop('Unnamed: 10', axis=1)

,Timestamp,What is your main study profile?,What aspect of Data Visualization is most interesting to you?,How much effort do you intend to invest into this subject?,Your age (in years),Your height (in cm),Your starsign,Your continent,How many cousins do you have?,Do you like spicy food?
0,2017/09/01 12:19:46 PM GMT+2,Software Engineering,(web) programming,10,21,420.69,Leo,Europe,7,No
1,2017/09/01 12:22:32 PM GMT+2,Software Engineering,exploring/analysing,8,19,178.00,Cancer,Europe,0,neutral
2,2017/09/01 12:23:13 PM GMT+2,Technology,designing and storytelling,7,20,182.00,Scorpio,Europe,12,neutral
3,2017/09/01 12:23:20 PM GMT+2,Software Engineering,(web) programming,8,21,197.00,Cancer,Europe,19,neutral
4,2017/09/01 12:26:08 PM GMT+2,Mathematics,designing and storytelling,8,23,183.00,Aquarius,Europe,27,Yes
5,2017/09/01 12:37:12 PM GMT+2,Technology,exploring/analysing,10,23,180.00,Virgo,Europe,0,neutral
6,2017/09/01 12:38:13 PM GMT+2,Software Engineering,exploring/analysing,9,21,195.00,Gemini,Europe,6,Yes
7,2017/09/01 12:38:13 PM GMT+2,Software Engineering,(web) programming,8,20,183.00,Taurus,Europe,9,Yes
8,2017/09/01 12:39:52 PM GMT+2,Bussiness,exploring/analysing,10,26,191.00,Aries,Europe,8,Yes
9,2017/09/01 12:54:17 PM GMT+2,Technology,exploring/analysing,10,20,180.00,Pisces,Europe,14,Yes
10,2017/09/01 12:56:34 PM GMT+2,Software Engineering,(web) programming,6,24,178.00,Scorpio,Europe,4,Yes
11,2017/09/01 12:56:51 PM GMT+2,Software Engineering,(web) programming,8,28,160.00,i have no idea,Asia,20,neutral
12,2017/09/01 1:12:43 PM GMT+2,Software Engineering,(web) programming,7,25,182.00,Scorpio,Europe,5,neutral
13,2017/09/01 1:13:49 PM GMT+2,Software Engineering,exploring/analysing,10,24,181.00,Libra,Europe,3,Yes
14,2017/09/01 1:15:54 PM GMT+2,Software Engineering,(web) programming,10,26,167.00,Scorpio,South-America,10,neutral
15,2017/09/01 1:44:58 PM GMT+2,Software Engineering,exploring/analysing,7,24,181.00,i have no idea,Europe,1,Yes
16,2017/09/01 2:00:01 PM GMT+2,Software Engineering,exploring/analysing,9,21,179.00,i have no idea,Europe,8,neutral
17,2017/09/01 6:48:32 PM GMT+2,Software Engineering,(web) programming,8,22,1.75,Sagittarius,South-America,don't know,No
18,2017/09/02 3:26:57 PM GMT+2,Technology,designing and storytelling,8,22,178.00,Leo,Europe,9,Yes
19,2017/09/04 9:45:57 AM GMT+2,Bussiness,exploring/analysing,9,20,187.00,Libra,Europe,2,No
20,2017/09/04 9:48:10 AM GMT+2,Software Engineering,exploring/analysing,6,24,178.00,Leo,Europe,6,neutral
21,2017/09/04 9:48:46 AM GMT+2,Software Engineering,designing and storytelling,8,22,185.00,i have no idea,Europe,9999999999999999999999999999999999999999999999...,Yes
22,2017/09/04 9:50:38 AM GMT+2,Software Engineering,(web) programming,9,24,179.00,Capricorn,Europe,12,Yes
23,2017/09/04 9:51:37 AM GMT+2,Technology,exploring/analysing,8,22,180.00,Taurus,Europe,3,Yes
24,2017/09/04 10:10:51 AM GMT+2,Software Engineering,(web) programming,8,23,173.00,i have no idea,Europe,6,Yes
25,2017/09/04 10:44:43 AM GMT+2,Software Engineering,exploring/analysing,8,22,176.00,Virgo,Europe,18,Yes
26,2017/09/04 10:47:44 AM GMT+2,Media,designing and storytelling,8,22,188.00,Gemini,Europe,11,Yes
27,2017/09/05 8:50:23 AM GMT+2,Software Engineering,exploring/analysing,8,23,178.00,Aquarius,Europe,13,Yes
28,2017/09/05 9:46:59 AM GMT+2,Software Engineering,exploring/analysing,8,20,170.00,i have no idea,Europe,11,Yes
29,2017/09/05 10:31:20 AM GMT+2,Software Engineering,exploring/analysing,8,22,185.00,i have no idea,Europe,3,neutral

### Look for missing values

In [26]:
def count_missing(x):
  return sum(x.isnull())
print("Missing values per column:")
print(dataFrame.apply(count_missing, axis=0))

##  There is no missing data

Missing values per column:
Timestamp                                                         0
What is your main study profile?                                  0
What aspect of Data Visualization is most interesting to you?     0
How much effort do you intend to invest into this subject?        0
Your age (in years)                                               0
Your height (in cm)                                               0
Your starsign                                                     0
Your continent                                                    0
How many cousins do you have?                                     0
Do you like spicy food?                                           0
Unnamed: 10                                                      21
dtype: int64

## 1. Reproducible Research

I noticed that there is something curious with the height column.<br>
Not everyone answered in centimeters, some used a 1.78 notation. There is also one outlier that doesn't fit the rest.

In [ ]:
heightFrame = dataFrame['Your height (in cm)']
heightCorrected = []

## function that calculates mean
def calculateMean(height):
    return np.array(height).mean()

## check if someone entered a value below 100  
for height in heightFrame:
    if height < 100:
        height = height * 100 ## if so, multiply by 100 to make it in cm
    elif height > 220: ## if height is larger than 220
        height = calculateMean(height)
    heightCorrected.append(height)


## add cleaned data to the correct column
dataFrame['Your height (in cm)'] = heightCorrected
dataFrame

There is also something wrong with the cousins columns. Not everyone entered a numerical value.<br>
I first need to filter out  the string value and replace it with something else.

In [21]:
cousinsFrame = dataFrame['How many cousins do you have?']
cousinsCorrected = []

## function that calculates mean
def calculateMean(cousin):
    return np.array(cousin).mean()

## check if someone entered a value below 100  
for cousin in cousinsFrame:
    if cousin > int(20):
        cousin = calculateMean(cousin)
    
    cousinsCorrected.append(height)


## add cleaned data to the correct column
dataFrame['How many cousins do you have?'] = cousinsCorrected

TypeError: '>' not supported between instances of 'str' and 'int'