## Week 1 - Assignment

### Import required libraries

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline 

# Import the csv file and seperate at , 
csvFile = "DV01-GroupSurvey.csv"
dataFrame = pd.read_csv(csvFile, sep=',')

In [6]:
dataFrame.head()

,Timestamp,What is your main study profile?,What aspect of Data Visualization is most interesting to you?,How much effort do you intend to invest into this subject?,Your age (in years),Your height (in cm),Your starsign,Your continent,How many cousins do you have?,Do you like spicy food?,Unnamed: 10
0,2017/09/01 12:19:46 PM GMT+2,Software Engineering,(web) programming,10,21,420.69,Leo,Europe,7,No,Option 1
1,2017/09/01 12:22:32 PM GMT+2,Software Engineering,exploring/analysing,8,19,178.00,Cancer,Europe,0,neutral,Option 1
2,2017/09/01 12:23:13 PM GMT+2,Technology,designing and storytelling,7,20,182.00,Scorpio,Europe,12,neutral,Option 1
3,2017/09/01 12:23:20 PM GMT+2,Software Engineering,(web) programming,8,21,197.00,Cancer,Europe,19,neutral,Option 1
4,2017/09/01 12:26:08 PM GMT+2,Mathematics,designing and storytelling,8,23,183.00,Aquarius,Europe,27,Yes,NaN

First thing that I noticed, is the fact that the unnamed column doesn't add something to the set.<br>
I therefore decided to remove it from the dataframe.

### Look for missing values